<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Review on CodeRedux</h1>
    <p>
      Your code has received a review. Go to  CodeRedux now. %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Happy coding!</p>
  </body>
</html>