$("#comments-<%= @comment.review_id %>").append("<p class='comment-copy'>- <%= @comment.body %></p>"); 




$('.new-comment').html(
  "Submit a comment"
  )
  
$('#comment_form-<%= @comment.review_id %>').html(
  ""
  );