<div class="author-display">
  <i class="icon-user"></i>
  		<%= link_to voteable.user.name, user_path(:id => voteable.user_id) %>&nbsp;&nbsp;<br />
  		<i class="icon-calendar"></i>
	<%= voteable.created_at.strftime("%b %e, %Y") %>&nbsp;&nbsp;
</div>