// Place all the styles related to the code_submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vote{
  text-align: center;
}

.vote-count{
  font-size: 14pt;
  font-weight: bold;
}
//
//.content-container{
//  padding-left: 50px;
//  padding-right: 100px;
//}


.review-text{
  font-size:14pt;
  padding-bottom:15px;
}

.cancel:hover
{
  cursor:pointer;
  text-decoration:underline;
}


.submit-text
{
  font-size:14pt;
  font-weight:bold;
}


.form {
  display: block;
  margin-top: 0em;
}

.comment-text 
{
  font-size:8pt;
  font-style:italic;
}

.comment-copy
{
  font-size:8pt;
  font-style:italic;
  margin-left:80px;
}

hr {
  border: 1;
  width: 100%;
}


.footer-spacer {
  height: 100px;
}

.review-block {
  
}


.author-display-inline{
  vertical-align: middle;
}

.author-display{
  vertical-align: bottom;
}

.header{
  font-size:20pt;
  font-weight:bold;
  line-height: 1;
  margin-bottom: 8px;
}




